    @import "base/color.scss";
    @import "base/mixin.scss";
    body{
        height: 100vh;
        background: linear-gradient(lightblue, lightpink);
    }
    // 轉盤區塊
    .index_dj {
        @include layout(1100px);
        display: flex;
        flex-flow: column wrap;
        margin-top: 15%;
        .index_dj_box {
            display: flex;
            justify-content: space-between;
            background-image: linear-gradient(#000, #333, #555, #444, #222, #000 95%);
            box-shadow: 5px 5px 10px #000;
            border-radius: 10px;
            padding: 0.5% 2.5%;
            border: 2px solid #000;

            .dj_left,
            .dj_right {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 325px;

                .song_title {
                    span {
                        color: $white;
                        font-weight: bold;
                        margin-left: 10px;
                    }
                }

                .song_info {
                    height: 20px;
                    display: flex;
                    justify-content: space-between;
                    color: $white;
                    padding: 10px;
                    border: 2px solid $blue;
                    border-radius: 20px;
                    background: linear-gradient($dark, #000);
                }

                .timebox {
                    .song_time {
                        margin-right: 5px;
                    }
                }

                .plate {
                    @include rect(195px);
                    margin: 5% 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-self: center;
                    border-radius: 200px;
                    background: repeating-radial-gradient(circle,
                            #000000 0%,
                            #000000 1%,
                            $dark 2%);
                    border: 2px solid $green;
                    animation: run 2s linear infinite;
                    animation-play-state: paused;
                    box-shadow: 1px 1px $white;
                    position: relative;

                    span {
                        background-image: url("/index_dj_logo.png");
                        width: 140px;
                        height: 140px;
                        background-size: contain;
                        animation: run 7s 0s linear infinite;
                        position: absolute;
                        top: 13.5%;
                        left: 13.5%;
                    }
                }
            }

            // 轉盤底下的按鈕們
            .dj_buttons {
                margin: auto;
                button {
                    align-self: center;
                    color: $dark;
                    background: linear-gradient($dark, $blue);
                    padding: 10px 20px;
                    border-radius: 0.5em;
                }

                button:active {
                    background: linear-gradient($blue, $dark);
                    color: $dark;
                }
            }


            //中間的音量拉條
            .dj_center {
                display: flex;
                align-self: center;
                flex-direction: column;
                flex-grow: 1;

                .plates_vols {
                    margin: 20px;
                    flex-grow: 1;
                    display: flex;
                    justify-content: space-around;

                    .vol_left {
                        align-self: flex-start;
                        margin-right: 5%;
                    }

                    .vol_right {
                        align-self: flex-end;
                    }
                }

                .vol {
                    width: 20%;
                }

                .vol_mix {
                    display: flex;
                    align-self: center;
                    margin: 20px;
                    height: 20%;
                    width: 50%;

                    input {
                        align-self: center;
                        transform: rotate(0deg);
                        margin: 0px;
                    }
                }
            }
        }

        // 中間三根的拉條外觀
        input {
            border-radius: 0.5em;
            @include rect(195px, 80px);
            cursor: pointer;
            margin: 50px -80px;
            -webkit-appearance: none;
            appearance: none;
            box-sizing: border-box;
            border: 2px solid #353535;
            padding: 0 1rem;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            background: linear-gradient(-90deg,
                    #343535 1rem,
                    rgba(68, 84, 99, 0) 1.5rem,
                    rgba(40, 50, 59, 0) calc(100% - 1.5rem),
                    #070707 calc(100% - 1rem)),
                linear-gradient(90deg, #595858 0.125rem, transparent 0.125rem) repeat-x 4px 25%,
                linear-gradient(90deg, #595858 0.125rem, transparent 0.125rem) repeat-x 4px 75%,
                linear-gradient(-90deg, #3a3b3b, #000000);
            background-size: 100% 100%, 0.625rem 23%, 0.625rem 23%, 100% 100%;
        }

        // 調整拉條軌道
        input::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            appearance: none;
            height: 7.5px;
            box-shadow: inset 0 0 0 1px $dark;
            background: linear-gradient(-90deg, $dark, #111);
        }

        // 調整拉條按鈕
        input::-webkit-slider-thumb {
            -webkit-appearance: none;
            margin-top: -1.65625em;
            border: none;
            width: 2.5em;
            height: 3.75em;
            border-radius: 0.25em;
            box-shadow: inset 0 0 1px $white;
            background: radial-gradient(at 50% 0, $white, #0000 70%) no-repeat 50% 0,
                radial-gradient(at 50% 100%, $white, #0000 100%) no-repeat 50% 100%,
                linear-gradient(90deg,
                    #d9d9d9,
                    #878787 25%,
                    #d9d9d9 25%,
                    $white 47%,
                    #d9d9d9 48%,
                    $pink,
                    #d9d9d9,
                    $white 52%,
                    $white 75%,
                    #cbcbcb 75%,
                    #d9d9d9);
            background-size: 100% 8px;
        }
    }


    // 播放音樂時的轉盤動畫
    @keyframes run {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
